$green: #5e8837;

.header {
  grid-area: header;
  height: 3.125rem;
  background-color: white;
  filter: drop-shadow(0.5rem -0.5rem 0.5rem rgb(0, 0, 0));

  &__container {
    min-width: 300px;
    max-width: 400px;
    display: flex;
    align-items: center;
    height: 3.125rem;

    &--button {
      width: 20%;
      height: 3.125rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    &--button {
      width: 3rem;
      height: 3rem;
      background-color: white;

      padding: 0;
      border: none;
    }

    &--header {
      color: $green;
    }
  }
}

.mat-icon {
  font-size: 32px;
  border-radius: 100%;
  border: 2px solid $green;
  color: $green;
  width: 32px;
  height: 32px;
  &:hover {
    background-color: $green;
    color: white;
  }
}
