$green: #5e8837;

.header {
  grid-area: header;
  width: 100vw;
  height: 3.125rem;
  background-color: white;
  filter: drop-shadow(0.5rem -0.5rem 0.5rem rgb(0, 0, 0));

  &__container {
    min-width: 300px;
    max-width: 400px;
    display: flex;
    align-items: center;
    height: 3.125rem;
  }

  &__item {
    margin: 1rem;

    &--button {
      width: 3rem;
      height: 3rem;
      background-color: white;
      margin: 0.5rem 1rem 0.5rem 1rem;
      padding: 0;
      border: none;
    }

    &--header {
      color: $green;
    }
  }
}

.mat-icon {
  font-size: 32px;
  border-radius: 100%;
  border: 2px solid $green;
  color: $green;
  width: 32px;
  height: 32px;
  &:hover {
    background-color: $green;
    color: white;
  }
}
