$green: #5e8837;

.container {
  grid-area: content;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grades {
  &__container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__list {
    width: 90%;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem 0 0 0;
  }
  &__element {
    width: 98%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    &--content {
      flex-grow: 1;
      width: 90%;
      text-align: center;
      line-height: 3rem;
      display: flex;
      justify-content: center;
    }

    &:hover {
      background-color: rgb(218, 218, 218);
    }

    &--selected {
      width: 98%;
      height: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(255, 255, 255);
      border: 2px solid rgb(110, 143, 110);
      border-radius: 10px;
    }
  }

  &__button {
    &--delete {
      height: 90%;
      width: 2rem;
      border: none;
      background-color: white;
      border-radius: 0.3rem;
      display: flex;

      &:hover,
      :active {
        background-color: rgb(238, 252, 206);
      }
    }
    &--container {
      display: flex;
      justify-content: center;
      align-content: center;
    }

    &--add {
      height: 2rem;
      margin: 1rem;
      background-color: #fff;
      border-radius: 0.3rem;
      border: 2px solid $green;
      padding: 0.4rem;

      &:hover,
      :active {
        color: $green;
      }
    }
  }
}

.mat-icon {
  font-size: 1.5rem;
  width: 2rem;
  height: 90%;
  color: #5e8837;
  background-color: none;
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
    align-items: none;
  }
}
