<div class="container">
  <div class="grades__container">
    <ul class="grades__list">
      <li
        [class.grades__element]="grade !== selectedGrade"
        [class.grades__element--selected]="grade === selectedGrade"
        *ngFor="let grade of grades"
        (click)="onSelect(grade)"
      >
        <div class="grades__element--content">{{ grade.symbolicGrade }}</div>
        <div class="grades__element--content">
          {{ grade.minPercentage }}% - {{ grade.maxPercentage }}%
        </div>
        <div class="grades__element--content">
          <button
            class="grades__button--delete"
            title="delete grade"
            (click)="deleteGrade(grade)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </li>
    </ul>
    <div class="grades__button--container">
      <button class="grades__button--add" (click)="addGrade()">
        Add New Grade
      </button>
    </div>
  </div>

  <app-grade-detail
    class="grades__details"
    [grade]="selectedGrade"
  ></app-grade-detail>
</div>

