<!-- <div>
    <label for="percentFrom">Percent from</label>
    <input id="percentFrom" [(ngModel)]="grade.percentsFrom" placeholder="0">
    <label for="percentTo">Percent to</label>
    <input id="percentTo" [(ngModel)]="grade.percentsTo" placeholder="0">
    <label for="gradeType">Grade </label>
    <input id="gradeType" [(ngModel)]="grade.gradeType" placeholder="grade">
    <label for="gradeDescription">Grade description </label>
    <input id="gradeDescription" [(ngModel)]="grade.description" placeholder="description">
<div>{{grade.minPercents}}% - {{grade.maxPercents}}%</div>
    <div>{{grade.minPercents}}% - {{grade.maxPercents}}%</div>
</div> -->

<h2>Grades</h2>
<ul class="grades">
    <li [class.grades__element]="grade !== selectedGrade" [class.grades__element--selected]="grade === selectedGrade" *ngFor="let grade of grades" (click)="onSelect(grade)">
        <div>{{grade.symbolicGrade}}</div>
        <div>{{grade.minPercentage}}% - {{grade.maxPercentage}}%</div>
    </li>
</ul>

<app-grade-detail [grade]="selectedGrade"></app-grade-detail>


<!-- <mat-list>
    <mat-list-item *ngFor="let grade of grades">
      <h3 matLine> {{grade.gradeType}} </h3>
      <p matLine> {{grade.percentsFrom}}} </p>
      <p matLine class="demo-2"> {{grade.percentsTo}} </p>
    </mat-list-item>
</mat-list>
   -->
   
  