a {
  text-decoration: none;
  width: 9.75rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  &:visited,
  :active {
    color: inherit;
  }
}

.navigation__container {
  grid-area: navigation;
  display: flex;
  flex-direction: column;
}

.navigation {
  &__list {
    background-color: #5e8837;
    display: none;
    padding-top: 0.625rem;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 100%;

    &--visible {
      width: 9.75rem;
      display: flex;
      position: relative;
      justify-content: center;

      z-index: 1;
    }
    &--container {
      max-height: 1fr;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
    }
  }
  &__item {
    width: 7.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    :active {
      width: 7.75rem;
      background-color: #1a3600;
    }
  }
  &__switcher {
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #1a3600;
    &:hover {
      background-color: #5e8837;
    }
    &--active {
      background-color: #5e8837;
    }
  }
}

@media screen and (min-width: 960px) {
  a {
    margin-left: 0;
    &:visited,
    :active {
      color: inherit;
    }
  }
  .navigation {
    &__list {
      margin: 0;
      width: 10rem;
      display: flex;
      border-radius: 0;
      padding: 0;
      height: 100vh;
      &--container {
        padding: 0;
      }
    }
    &__switcher {
      display: none;
    }

    &__item {
      padding-left: 5rem;
      width: 10rem;
      padding: 0;
      &:hover,
      :active {
        width: 10rem;
        background-color: #1a3600;
      }
    }
  }
}
